<%= @page_title='Listing Moderation '%>
<%= content_tag('p', link_to('Back', :controller =>'staff', :action =>'menu')) %>

<p> Show:
	<%= link_to('all', :status=>'all' ) %> &nbsp;|
	<%= link_to('new', :status=>nil) %> &nbsp;|
	<%= link_to('approved', :status=>'approved' ) %> &nbsp;|
	<%= link_to('spam', :status =>'spam' ) %> 
</p>

<%=  form_tag(:action => 'set_status') do %>
<table>
  <tr>
    <th>&nbsp;</th>
    <th>Comment</th>
    <th>Status</th>
    <th>Created</th>
  </tr>

<% for comment in @comments %>
  <tr class="<%= cycle('row1', 'row2')%>">
		<td><%= check_box_tag('commentlist[]', comment.id) %>&nbsp;</td>
		<td>
		<div class="comment" >
			<div class="comment-lead"> On post <em><%= comment.post.title %></em><%=				 mail_to(h(comment.author_email), h(comment.author)) %>
			wrote:
			</div>
			<div class="comment-text">
			<%= truncate((comment.content), :length => 90) %>
			<%= link_to('view all', :action=> 'show', :id=> comment) if h(comment.content).length >90 %>
			</div>
		</div>
		</td>
		<td><%= comment.status %></td>
		<td><%= comment.created_at.strftime('%m/%d/%y  /> %I:%m :%a') %></td>
  </tr>
<% end %>
</table>
<p> Mark Checked Items As : <%= submit_tag("Approved") %><%= submit_tag("Spam") %></p>

<% end %>
