<div class="listing">
   <table>
	<tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Username</th>
	<th>User Level</th>
	<th>&nbsp;</th>
  </tr>

  <% @users.each do |user| %>
	
   <tr class="<%= cycle('row1', 'row2')%>">
		<td><%= h(user.first_name) %></td>
		<td><%= h(user.last_name) %></td>
		<td><%= h(user.username) %></td>
		<td><%= h(user.user_level) %></td>
		<td><%= link_to 'Edit', :action => "manage", :id => user.id%></td>
		  </tr>
<% end %>
</table>
</div>