<%= form_for(@post) do |f| %>
 <table>
	<tr>
  		<th>Title</td>
		<td><%= f.text_field :title, :size=>40, :style =>"font-size: 1.5em;"%></td>
		<td rowspan="2">
			<div class="Categorylist">
				<h2>Categuries:</h2>
				 <ul>
					<% @all_categories.each do |cat| -%>
						<li><%= check_box_tag('categories[]', cat.id, @post.categories.map {|c| c.id }.include?(cat.id)) %>
						<%= cat.name %></li>
						<% end -%>
				 </ul>					

			</div>
		</td>
	</tr>
	<tr>
		<th>Post Body</th>
		<td><%= f.text_area :content%></td>
	</tr>
	<tr>
		<th>Author</th>
		<td><%= select("post", "author_id", User.all.collect {|p| [p.first_name, p.id] }) %></td>
	</tr>
	<tr>
		<th>Status</th>
		<td><%= select(:post, :status, ['draft','published']) %></t>
	</tr>
    <tr>
		<th>Created At</th>
		<td><%= datetime_select(:post, :created_at, :order => [:month, :day, :year], :start_year => 2011, :end_year => 2012) %></td>
	</tr>
</table>
	<%= f.submit %>
<% end %>